ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.custom-active-link {
  color: rgb(4, 243, 187);
}

a {
  margin: 1rem;
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
